*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
nav{
    height:70px;
    width:100%;
    background-color: #ffffff;
    display: flex;
    position:fixed;
    flex-direction: row;
    padding:10px 12px;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img{
    height:30px;
    width:70px;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
main{
    
    padding:70px 0px;
}
.section-one img{
    height:300px;
    width:100%;
}
.section-two{
    display: grid;
    gap:13px;
    line-height: 1.5;
    margin:20px 0px;
    text-align: center;
    padding:0px 18px;
    
}
h1{
    font-size:28px;
}
h2{
    font-size: 25px;
}
.section-three{
    text-align: center;
    background-color: #f4f4f4;
    padding: 16px 18px;
    line-height: 1.5;
}
h1{
    font-weight: 400;
}
p{
    font-size: 18px;
}
h2{
    font-weight: 400;
}
.youtube-subscribe-button{
    margin:10px 0px 0px 0px;
}
.video-scroll-section{
    width:100%;
    overflow-x: scroll;
    white-space: nowrap;
    margin:5px 0px;
}
.scroll-video{
    width:100%;
    align-items: center;
    display: inline-block;
    margin-right: 10px;
}
.video-wrapper{
    padding:16px 0px 0px 0px;
}
.text-wrapper{
    max-width: 100%;
    line-height: 1.3;
    margin: 14px 0px;
    white-space: normal; 
    overflow: hidden;
    display: grid;
    gap: 6px;
}
.section-four{
    text-align:center;
    margin:30px 0px;
    line-height: 1.3;
    padding:0px 18px;
    justify-content:start;
    align-items: center;
}
.section-four button{
    display: inline-block;
    color:#ffff;
    font-size:18px;
    border:2px solid black;
    background-color: #000000;
    border-radius: 16px;
    height:50px;
    width:150px;
    padding:12px;
    font-weight: 300;

}
.section-four p{
    margin:20px 0px;
    line-height: 1.5;
}
.section-four button:hover{
    background-color: #ffffff;
    cursor: pointer;
    color: #000000;
}
/* section-five css */

.section-five{
    text-align: center;
    
    background-color: #f4f4f4;
    padding: 20px  18px ;
}
.section-five h1{
    margin:0px 0px 30px 0px;
}
.section-five-icon{
    font-size: 50px;
}
.icon-account{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-account a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    
}